<div class="ui grid">
    <div class="column">
        <div class="ui segment">
            <div class="ui small  image">
                <img class="ui image" src="{{url}}" >
            </div>
            <a href="/deleteImage/{{public_id}}" class="ui red icon button">
                <i class="icon trash"></i>
            </a>
        </div>
    </div>
</div>
