{{>mainmenu}}
<section class="ui inverted yellow  segment">
    <div class="ui form">
        <form action="/create" method="POST">
        <div class="ui two column grid">
            <div class="column">
        <h2 class="ui dividing header">Create a new POI</h2>
        <div class="field">
            <div class=" field">
                <label>Poi Name</label>
                <input type="text" placeholder="Poi Name" name="name">
            </div>
            <div class=" field">
            <label>Latitude</label>
            <input placeholder="Latitude" name="latitude">
            </div>
            <div class=" field">
                <label>Longitude</label>
                <input placeholder="Longitude" name="longitude">
            </div>
            <div class="eight wide field">
                <label>County</label>
                <input type="text" placeholder="County" name="county">
            </div>
            <div class="field" >
                <label>Image URL</label>
                <input type="text" name="url">
            </div>
            <button class="ui blue big submit button">Create Poi</button>
            </div>
        </div>
       <div class="left floated column" >
           <h2>Description</h2>
            <div class="field" >
                <label>Year built</label>
                <input type="text" name="year">
            </div>
            <div class="field" >
                <label>Tower height</label>
                <input type="text" name="height">
            </div>
            <div class="field" >
                <label>Focal height</label>
                <input type="text" name="focalHeight">
            </div>
            <div class="field" >
                <label>Range</label>
                <input type="text" name="range">
            </div>
           <div class="field" >
               <label>Info</label>
               <input type="text" name="info">
           </div>
        </div>
            </div>
        </form>
        {{> error}}
    </div>

</section>

