{{>mainmenu _id="gallery"}}
<section class="ui segment">

<h1 class="ui header">Cloudinary Gallery</h1>

<div class="ui segment" uk-grid>
    <div>
        {{> upload }}
    </div>
</div>

<div class="ui container">
    <div class="ui grid">
        {{#each images}}
           {{> card}}
        {{/each}}

    </div>
</div>
</section>