<section class="ui  raised segment">
    <section class="ui  raised segment">
        <div class="ui grid">
            <div class="four wide yellow column">
                <h2 class="ui header">Irish Lighthouses</h2>
             {{#each lighthouses}}
                <div class="ui inverted vertical menu">
                    {{this._id}}
                    <div class="item">
                        <div class="header"></div>
                        <div class="menu">
                            {{#each this.pois}}
                                <a class="item">{{this}}</a>
                            {{/each}}
                        </div>
                    </div>

                </div>
              {{/each}}
            </div>
            <div class="twelve wide yellow column">
                {{>mainmenu _id="poi"}}
                <div>
                <body onload="initialize_map();

                {{#each coordinates}}
                    add_map_point({{this.latitude}}, {{this.longitude}})
                {{/each}}">

                <div id="map" style="width: auto; height: 100vh;"></div>
                </body>
            </div>
        </div>
        </div>
    </section>
</section>
